doctype html
html
	head
		title TEST HOMEPAGE
	body
		h1 TEMPORARY TEST HOMEPAGE
		script(type='text/javascript').
			var dt = new Date();
			document.write("Current Date and Time is " + dt.toISOString())
